@use "../../UI/mixins/buttons" as buttons;

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  .text {
    padding-right: 20px;

    .title {
      font-size: 38px;
    }

    .description {
      margin-top: 54px;
    }

    > p {
      font-size: 18px;
      margin-top: 22px;
      max-width: 700px;
    }
  }
  //   .imgWrapper {
  > img {
    max-width: 700px;
    max-height: 500px;
    border-radius: 0.5rem;
    width: 100%;
    object-fit: cover;
    object-position: 0, 0;
  }
  //   }
//   972px breakpoint
}

.button {
  @include buttons.button-main;
  margin-top: 40px;
  padding: 18px 50px;
  font-size: 20px;
}
