@mixin button-main {
  padding: 9px 45px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #c5ddf4;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #9fc0de;
  }
}
