.table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: repeat(5, 80px);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  background-color: #f3fbff;
  border: 1px solid #878787;
}

.dot {
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #878787;
    opacity: .7;

    transform: translate(-50%, -50%);
  }
}
